* {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  font-family: nasalizationregular;
  font-weight: normal;
  font-style: normal;
}

.nav__barra {
  background-color: #ffffff;
  padding: 8px 25px;
}
.nav__barra-menu {
  border-bottom: 1px solid #000000;
}

.nav__menu-link {
  font-family: nasalizationregular;
  font-weight: normal;
  font-style: normal;
  color: #000000 !important;
  text-align: center;
}
.nav__menu-link:hover {
  background-color: #000000;
  color: #ffffff !important;
}

.nav__barra-lista {
  justify-content: center !important;
}

.nav__logo {
  width: 20%;
}
.nav__logo img {
  width: 100%;
  max-width: 100px;
  min-width: 50px;
}

@media (min-width: 768px) {
  .nav__barra {
    background-color: #ffffff;
    padding: 8px 80px;
  }
  .nav__barra li {
    font-family: nasalizationregular;
    font-weight: normal;
    font-style: normal;
    color: #000000 !important;
    text-align: center;
  }

  .nav__logo {
    width: 50%;
  }
  .nav__logo img {
    width: 100%;
    max-width: 100px;
    min-width: 50px;
  }
}
@media (min-width: 992px) {
  .nav__logo {
    width: 50%;
  }

  .nav__barra-lista ul {
    margin-right: 50px;
  }

  .nav__buscador {
    flex-wrap: nowrap;
  }
}
.main__section {
  margin: 2% 0% 0% 0%;
  max-width: none;
}

.disponibles__titulo-texto {
  text-align: center;
  width: 100%;
  color: #000000;
  border-bottom: 3px solid #000000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.disponibles__titulo-texto span {
  background: #ffffff;
  padding: 0 10px;
}

.disponibles__display {
  justify-content: space-around;
}
.disponibles__display-originales {
  margin-bottom: 5%;
}
.disponibles__display-originales__titulo {
  color: #000000;
  text-align: center;
  margin-bottom: 2rem;
}
.disponibles__display-localizados {
  margin-bottom: 5%;
  background-color: #000000;
}
.disponibles__display-localizados__titulo {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 5%;
}

.disponibles__display-cards__card {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  position: relative;
}
.disponibles__display-cards__imagen {
  width: auto;
  height: 100%;
}
.disponibles__display-cards__card:hover img {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
}
.disponibles__display-cards__identificacion {
  background-color: #000000;
  position: absolute;
  top: 150px;
  left: 40%;
}
.disponibles__display-cards__texto {
  text-align: center;
  color: #ffffff;
  margin-top: 0.3rem;
  padding: 5px;
}

.card__localizado {
  background-color: #ffffff;
}
.card__localizado-texto {
  color: #000000;
}

.display__boton {
  display: flex;
  justify-content: center;
}
.display__boton-boton {
  border-radius: 0px;
  color: #000000 !important;
  border-color: #000000 !important;
}
.display__boton-boton:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .disponibles__display-localizados {
    background-color: #ffffff;
  }
  .disponibles__display-localizados__titulo {
    color: #000000;
    padding-top: 0%;
  }

  .card__localizado {
    background-color: #000000;
  }
  .card__localizado-texto {
    color: #ffffff;
  }
}
@media (min-width: 992px) {
  .main__section {
    margin: 2% auto 0% auto;
    max-width: 960px;
  }
}
.hero {
  margin-bottom: 10%;
}

.posit {
  margin-left: -270px;
  height: 200px;
}

@media (min-width: 334px) {
  .hero {
    margin-bottom: 5%;
  }

  .posit {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .hero {
    margin-bottom: 0%;
  }
}
.blog {
  display: none;
}

.redes__movil-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  color: #000000;
  justify-content: center;
}
.redes__movil-contenido a {
  color: #000000;
}

@media (min-width: 992px) {
  .blog {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 5%;
  }
  .blog__contenido-titulo {
    padding-top: 7%;
    margin-bottom: 10%;
  }

  .blog__contenido-titulo {
    text-align: center;
    color: #000000;
  }

  .blog__contenido-noticia {
    position: relative;
    margin-bottom: 30%;
  }
  .blog__contenido-noticia:hover img {
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out;
  }
  .blog__contenido-noticia__info {
    position: absolute;
    top: 80%;
    left: 60%;
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
  }
  .blog__contenido-noticia__info-texto {
    font-size: 1rem;
  }
  .blog__contenido-noticia__info-fecha {
    color: gray;
    font-size: 0.8rem;
  }
  .blog__contenido-noticia__imagen {
    width: 100%;
    height: auto;
  }

  .redes__movil {
    display: none;
  }

  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    color: #000000;
  }
  .redes a {
    color: #000000;
  }
}
.formulario__contenido {
  background-color: #727272 !important;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.contenedor__form {
  justify-content: center;
}

.enviar, .formes {
  border-radius: 0px;
}

.final {
  padding-top: 30px;
}

/*# sourceMappingURL=style.css.map */
