.formulario__contenido{
    background-color:#727272 !important;
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}


.contenedor__form{
    justify-content: center;
}

.enviar, .formes{
    border-radius: 0px;
}

.final{
    padding-top: 30px;
}